@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Hesap kilitli";
}

<hgroup>
    <h1 class="text-danger">Hesap kilitlendi.</h1>
    <h2 class="text-danger">Hesabınız askıya alınmıştır.Daha sonra tekrar deneyiniz.</h2>
</hgroup>
